:root {
  --color-white: #fff;
  --color-orange: #e15c3a;
  --heading-content-color: #676767;
  --background-green: #183d3d;
  --gray: #8a8a8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

/*------------------------------------ Header ------------------------------------*/
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.cyberdude-logo {
  width: 160px;
  padding: 0 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 300;
  transition: color 0.5s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: var(--color-orange);
  left: 0;
  bottom: -2px;
  transition: width 0.5s;
}

nav ul li a:hover {
  color: var(--color-orange);
}

nav ul li a:hover::after {
  width: 100%;
}

.container {
  max-width: 1300px;
  padding: 0 25px;
  margin: auto;
}

.content-img {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.col-2 {
  flex-basis: 45%;
  min-width: 250px;
}

.col-2 .content-image img {
  width: 450px;
  padding: 50px 0;
}

.heading {
  color: var(--color-white);
}

.heading-span {
  color: var(--color-orange);
}

.col-2 p {
  color: var(--color-white);
  font-weight: 300;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.btn {
  padding: 0 20px;
}

.hero-btn {
  display: inline-block;
  margin: 50px 0;
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-orange);
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: 0.5s;
}

.hero-btn:hover {
  background: rgb(187, 51, 2);
}

header {
  background: var(--background-green);
}

/*-------------------------- Humburger Menu Bar --------------------------*/
.fa-bars {
  color: var(--color-white);
  display: none;
}
/*------------------------------------ What Can You Discover? - Section (.learning-things)------------------------------------*/
.learn-things {
  margin: 50px 0 80px;
}

.small-header {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-top: 80px;
  position: relative;
  margin-bottom: 50px;
}

.content-heading {
  text-align: center;
  color: var(--heading-content-color);
  line-height: 60px;
  position: relative;
  margin-bottom: 5%;
}

.content-heading::after {
  content: "";
  background: var(--color-orange);
  width: 120px;
  height: 5px;
  position: absolute;
  border-radius: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.small-header h3 {
  text-align: center;
  color: var(--color-orange);
  font-weight: 400;
  font-style: italic;
  margin: 2%;
}

/* --------------------- First Row (HTML, CSS, JS) --------------------- */
.col-5 {
  flex-basis: 20%;
  border-radius: 10px;
  padding: 20px;
  min-width: 200px;
  transition: box-shadow 0.5s, background 0.5s, color 0.5s;
  /* border: 1px solid #333; */
}

.col-5:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* background: var(--color-orange); */
  color: var(--color-white);
}

/* .col-5 img {
  width: 150px;
} */

.tech-icons {
  width: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.sub-heading {
  text-align: center;
  margin: 10px auto 0px;
  font-weight: 400;
  color: var(--heading-content-color);
}

/* --------------------- Second, Third Row (PHP, Node JS; My SQL, Mongo DB) --------------------- */

.logo-size {
  border-radius: 10px;
  transition: box-shadow 0.5s, background 0.5s, color 0.5s;
}

.logo-size img {
  width: 100px;
  padding: 0;
}

.logo-size:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* --------------------- Fourth Row (Photoshop,  Illustrator, Figma) --------------------- */
.col-3 {
  flex-basis: 30%;
  border-radius: 10px;
  padding: 20px;
  min-width: 200px;
  transition: box-shadow 0.5s, background 0.5s;
}

.col-3:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.design-logos {
  padding-top: 30px;
}

/* <!-------------------------------------------- Browse by Dates - Section & Live Coding Sessions - Section  --------------------------------------------> */
.sorting {
  padding: 0 25px;
}

.desc {
  text-align: center;
  padding: 0 20px;
  color: var(--heading-content-color);
  font-weight: 300;
}

.desc span {
  color: var(--color-orange);
  padding: 10px;
}

video {
  padding: 30px 0;
  margin: auto;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
}

.desc-heading {
  color: var(--color-orange);
  text-align: center;
  padding: 0 50px;
  font-weight: 400;
}

.center-align {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

/*-------------------------------------------- Footer --------------------------------------------*/
footer {
  padding: 60px 0 20px;
  background: #000;
  color: var(--gray);
  font-size: 14px;
}

footer address,
footer p {
  color: var(--gray);
}

footer h4 {
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2 {
  min-width: 250px;
  margin-bottom: 20px;
  flex-basis: 40%;
  padding: 20px;
}

.footer-col-1 .contact {
  display: flex;
  align-items: center;
}

.footer-col-1 a, 
.footer-col-1 a {
  text-decoration: none;
  color: var(--gray);

}

.footer-col-1 .fa-solid {
  color: var(--color-orange);
  margin-right: 20px;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.social-media-link {
  flex-basis: 40%;
  padding: 20px;
}

.footer-col-location {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.social-media-link h4 {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.fa-brands {
  margin: 30px;
  font-size: 30px;
}

iframe {
  width: 500px;
  height: 150px;
}

.fa-brands {
  color: var(--color-orange);
  font-size: 36px;
  transition: 0.5s;
}

.fa-facebook:hover {
  color: #4267b2;
  transform: scale(1.5) translateY(-5px);
}

.fa-youtube:hover {
  color: #c4302b;
  transform: scale(1.5) translateY(-5px);
}

.fa-instagram:hover {
  color: #962fbf;
  transform: scale(1.5) translateY(-5px);
}

.fa-linkedin:hover {
  color: #0a66c2;
  transform: scale(1.5) translateY(-5px);
}


/* ------------------------------------------------ Made By ------------------------------------------------ */
.made-by {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

/* ----------------------------------------- Responsive ----------------------------------------- */

/* Screen size: 1054px */
@media screen and (max-width: 1054px) {
  .col-2 .content-image img {
    width: 350px;
  }
}

/* Screen size: 970px */
@media screen and (max-width: 970px) {
  video {
    width: 350px;
  }
}

/* Screen size: 940px */
@media screen and (max-width: 940px) {
  .heading {
    font-size: 24px;
  }

  .heading-span {
    font-size: 24px;
  }

  .intro-para {
    font-size: 12px;
  }
}

/* Screen size: 918px */
@media screen and (max-width: 918px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    text-align: right;
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: height 0.5s;
    filter: blur(50%);
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  nav ul li a::after {
    position: relative;
  }

  .fa-bars {
    display: block;
    cursor: pointer;
  }
}

/* Screen size: 907px */
@media screen and (max-width: 907px) {
  iframe {
    width: 350px;
  }
}

/* Screen size: 848px */
@media screen and (max-width: 848px) {
  .center-align .video-desc {
    margin: auto;
  }
}

/* Screen size: 828px */
@media screen and (max-width: 828px) {
  .col-2 .content-image img {
    width: 250px;
  }
}

/* Screen size: 809px */
@media screen and (max-width: 809px) {
  video {
    width: 250px;
  }
}

/* Screen size: 665px */
@media screen and (max-width: 665px) {
  .footer-row {
    flex-direction: column;
  }
}

/* Screen size: 580px */
@media screen and (max-width: 580px) {
  .col-2 {
    margin: auto;
  }
}

/* Screen size: 503px */
@media screen and (max-width: 503px) {
  /* video {
    width: 200px;
  } */

  .margin-bottom {
    flex-direction: column;
  }
}

/* Screen size: 450px */
@media screen and (max-width: 450px) {
  .col-2,
  .col-3,
  .col-5 {
    flex-basis: 100%;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Screen size: 439px */
@media screen and (max-width: 439px) {
  video {
    max-width: 200px;
  }
}

/* Screen size: 415px */
@media screen and (max-width: 415px) {
  .footer-col-location h4 {
    text-align: center;
  }

  iframe {
    width: 150px;
  }
}

/* Screen size: 375px */
@media screen and (max-width: 375px) {
  .video-desc {
    margin: auto;
  }
}

/* Screen size: 283px */
@media screen and (max-width: 283px) {
  .content-heading {
    font-size: 18px;
  }

  .row-heading {
    font-size: 12px;
  }

  .content-heading::after {
    width: 70px;
  }

  .logo-size {
    margin-bottom: 16px;
  }

  .sub-heading {
    font-size: 12px;
  }

  .desc {
    font-size: 14px;
  }

  .desc-heading {
    font-size: 12px;
  }

  nav ul {
    background: rgba(0, 0, 0, 0.9);
    /* border-radius: 10px; */
  }
}
